<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Desafío Front-End</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/owfont-regular.css">  
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <header class="navbar navbar-inverse hero" role="banner">

      <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../index.html" class="navbar-brand">CD-MX</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="../views/hours.html"><span class="glyphicon glyphicon-time"></span>&nbsp;La hora en el mundo</a>
              </li>           


            </ul>
        </nav>
      </div>
  </header>

    <div id="hours-slide" class="jumbotron">
      <div class="container">
        <h1>Hora Mundial</h1>



        </div>        
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <h2>México</h2>
          <p id="hora0"></p>
        </div>
        <div class="col-md-4 text-center">
          <h2>Tokio</h2>
          <p id="hora1"></p>
       </div>
        <div class="col-md-4 text-center">
          <h2>Austria</h2>
          <p id="hora2"></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2015 - gummx</p>
      </footer>
    </div> <!-- /container -->
    <script src="../js/jquery-2.1.4.js" type="text/javascript"></script> 
    <script src="../js/bootstrap.min.js" type="text/javascript" ></script>
    <script src="../js/script.js" type="text/javascript"></script>
</body>
</html>